{% extends 'global/fusion/base.html' %}
{% load static %}

{% block links %} 
{% include 'partials/layout/head_index.html' %} 
{% endblock links %}


{% block title %}Fusion App{% endblock title %}


{% block content %}


<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  {% include 'partials/layout/navbar.html' %}

  <!-- Hero Area Start -->
  {% include 'partials/sections/area_de_inicio.html' %}
</header>


    <!-- Services Section Start -->
{% include 'partials/sections/services.html' %}


    <!-- About Section start -->
{% include 'partials/sections/about_section_start.html' %}


    <!-- Features Section Start -->
{% include 'partials/sections/features_section_start.html' %}


    <!-- Team Section Start -->
{% include 'partials/sections/team_section.html' %}


    <!-- Pricing section Start --> 
{% include 'partials/sections/pricing.html' %}
  

    <!-- Testimonial Section Start -->
{% include 'partials/sections/testimonial.html' %}
    
    
    <!-- Call To Action Section Start -->
{% include 'partials/sections/call_to_action.html' %}
    
    
    <!-- Contact Section Start -->
{% include 'partials/sections/contact.html' %}
    
    
    <!-- Footer Section Start -->
{% include 'partials/layout/footer.html' %}
    

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
    

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
  
{% include 'partials/layout/scripts.html' %}

{% endblock content %}

