{% load static %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'core_/js/jquery-min.js' %}"></script>
<script src="{% static 'core_/js/popper.min.js' %}"></script>
<script src="{% static 'core_/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core_/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'core_/js/wow.js' %}"></script>
<script src="{% static 'core_/js/jquery.nav.js' %}"></script>
<script src="{% static 'core_/js/scrolling-nav.js' %}"></script>
<script src="{% static 'core_/js/jquery.easing.min.js' %}"></script>  
<script src="{% static 'core_/js/main.js' %}"></script>
<script src="{% static 'core_/js/form-validator.min.js' %}"></script>
<script src="{% static 'core_/js/contact-form-script.min.js' %}"></script>