{% load bootstrap4 %}

<section id="contact" class="section-padding bg-gray">    
    <div class="container">
        <div class="section-header text-center">          
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Contact Us</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">   
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="contact-block">
                    <form id="" method="POST" autocomplete="off" action="{% url 'fusion:home' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.name }}
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.email }}
                                    <div class="help-block with-errors"></div>
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.subject }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group"> 
                                    {{ form.message }}
                                    <div class="help-block with-errors"></div>
                                </div>
                                
                                {% if messages %}
                                    <div class="container">
                                        {% bootstrap_messages %}
                                    </div>
                                    <p></p>
                                {% endif %}

                                <div class="submit-button text-left">
                                    <button class="btn btn-common" id="form-submit" type="submit">Enviar Mensagem</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                    <div class="clearfix"></div> 
                                </div>
                            </div>
                        </div>            
                    </form>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="map">
                    <iframe style="border:0; height: 280px; width: 100%;" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34015.943594576835!2d-106.43242624069771!3d31.677719472407432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75d90e99d597b%3A0x6cd3eb9a9fcd23f1!2sCourtyard+by+Marriott+Ciudad+Juarez!5e0!3m2!1sen!2sbd!4v1533791187584" 
                        frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div> 
</section>
